<section class="intro-board" style="background-image:url(<%= image_url(background_random) %>);">
  <nav class="menu-header hide-for-small-only row">
    <ul class="no-bullet menu">
      <li><%= link_to 'Home', :root %></li>
      <li><%= link_to 'Atuação', :atuaction %></li>
      <li><%= link_to 'Quem Somos', :about %></li>
      <li><%= link_to 'Nossa Equipe', :team %></li>
      <li><%= link_to 'Contato', :contact %></li>
    </ul>
  </nav>
</section>
