<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) + ' | LNB' : 'LNB - Sociedade de Advogados' %></title>
    <meta name="description" content="Liserre, Najjar e Bicudo é um escritório de advocacia dedicado ao atendimento de empresas e pessoas físicas. Acesse  <%= content_for?(:title) ? '- ' + yield(:title) : '' %>">
    <meta property="og:url" content="http://www.lnb.adv.br/">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="LNB">
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) + ' | LNB' : 'LNB - Sociedade de Advogados' %>">
    <meta property="og:description" content="Liserre, Najjar e Bicudo é um escritório de advocacia dedicado ao atendimento de empresas e pessoas físicas. Nossa proposta é a prevenção. tentando evitar ou amenizar as contingências que se revelam no dia a dia da vida em sociedade.">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <meta property="og:image" content="<%= image_url('background/paulista.jpg') %>">
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="content-container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
</html>
